* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.login-page,
.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page__login-box,
.registration-page__registration-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 640px;
}

@media only screen and (max-width: 1440px) {
    .login-page__login-box,
    .registration-page__registration-box {
        height: 400px;
    }
  }

@media only screen and (max-width: 768px) {
    .login-page__login-box,
    .registration-page__registration-box {
        grid-template-columns: 1fr;
        min-width: 320px;
        height: auto;
    }
  }

.glass-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    row-gap: 2rem;
    height: 100%;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsla(0, 0%, 100%, 0.98);
    font-size: .8rem;
}

.glass-form > *:first-child,
.glass-form > *:last-child {
    /* Centers top content and Push down bottom content */
    margin-top: auto
}

.form__header-text {
    font-weight: 400;
}

.form__field-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.form__register-text {
    color: hsl(0, 0%, 55%);
}

.form__register-text-link {
    color: hsl(221, 100%, 36%);
}

.form__register-text-link:hover {
    color: hsl(221, 100%, 16%);
}

.btn {
    border: none;
    cursor: pointer;
}

.submit-btn {
    padding: .5rem;
    width: 100%;
    border-radius: 2px;
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
}

.create-btn {
    padding: .5rem 1rem;
    border-radius: 16px;
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
}

.field__input {
    padding: .5rem;
    width: 100%;
    outline: none;
    border: none;
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 97%);
}

.field__input--focus {
    /* border: 1px solid hsl(221, 100%, 36%); */
    /* box-shadow: 0 0 2px hsl(221, 100%, 36%); */
}

.field__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 2px;
}

.field__wrapper--focus {
    border: 1px solid hsl(221, 100%, 36%);
    box-shadow: 0 0 2px hsl(221, 100%, 36%);
}

.field__label {
    /* Label is inline by default, make it inline-block to apply margin */
    display: inline-block;
    margin-bottom: .1rem;
    color: hsl(0, 0%, 10%);
}

.field__label--focus {
    color:hsl(221, 100%, 36%);
}

.field__icon {
    margin: 0 .5rem;
    height: 1rem;
    width: 1rem;
}

.field__icon-wrapper {
    color: hsl(0, 0%, 70%);
}

.field__icon-wrapper--focus {
    color: hsl(221, 100%, 36%);
}

.bg-main {
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
}

.text-gray {
    color: hsl(0, 0%, 10%);
}

path {
    /* Give color to svg path */
    fill: currentColor;
}


.home-page {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: hsl(221, 100%, 36%);
    font-size: .9rem;
}

.home-page__content {
    display: flex;
    flex-direction: column;
    align-items: start; /* Prevent anchor tag to fill the screen */
    row-gap: 2rem;
    padding: 2rem;
    border-radius: 40px 0px 0px;
    background-color: hsl(0, 0%, 97%);
}

.side-bar {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    min-width: 240px;
    height: 100vh;
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
    font-size: .9rem;
}

.side-bar__header {
    display: flex;
    flex-direction: column;
}

.side-bar__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.side-bar__title {
    font-weight: 500;
}

.side-bar__logo {
    height: 90px;
    width: 90px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}

.menu-item:hover {
    background-color: hsl(221, 100%, 16%);
}

.menu-item__icon {
    height: 1.1rem;
    width: 1.1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 160px;
    width: 240px;
    background-color: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 16px;
    font-size: .9rem;
}

.project-card > *:last-child {
    margin-top: auto;
}

.project-card__header {
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.project-card__title {
    font-weight: 250;
    cursor: text;
}

.project-card__title[contenteditable] {
    outline: 0px solid transparent;
}

.project-card__delete-icon {
    height: 1rem;
    width: 1rem;
    color:hsl(0, 0%, 30%);
}

.project-card__desc {
    color: hsl(0, 0%, 55%);
    font-size: .8rem;
}


.home-page__projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
}