* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.glass-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    row-gap: 1rem;
    height: 100%;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: .8rem;
}

.btn {
    border: none;
    cursor: pointer;
}

.submit-btn {
    padding: .5rem;
    width: 100%;
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
}

.horizontal-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.vertical-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

.field__input {
    padding: .5rem;
    width: 100%;
    outline: none;
    border: none;
}

.field__input--focus {
    /* border: 1px solid hsl(221, 100%, 36%); */
    /* box-shadow: 0 0 2px hsl(221, 100%, 36%); */
}

.field__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 2px;
}

.field__label {
    /* Label is inline by default, make it inline-block to apply margin */
    display: inline-block;
    margin-bottom: .1rem;
    color: hsl(0, 0%, 10%);
}

.bg-main {
    background-color: hsl(221, 100%, 36%);
    color: hsl(0, 0%, 90%);
}

.text-gray {
    color: hsl(0, 0%, 10%);
}

path {
    fill: currentColor;
}

.field__icon {
    margin: 0 .5rem;
    height: 1rem;
    width: 1rem;
    color: hsl(0, 0%, 70%);
}

.field__icon-wrapper {

}