{% extends "base.html" %}

{% block script %}
<script type="module">
  import SideBar from "{{ url_for('static', filename='components/navbar/SideBar.js') }}"
  import ProjectCard from "{{ url_for('static', filename='components/cards/ProjectCard.js') }}"
  const { createApp, ref } = Vue

  const App = {
      setup() {
          let message = ref("hello vue")
          return {message}
      },

      components: {
        "SideBar": SideBar,
        "ProjectCard": ProjectCard
      },

      delimiters: ["[[", "]]"],
  }

  let template = /*html*/`
    <div class="home-page">

      <SideBar></SideBar>

      <div class="home-page__content">
        <h1>Projects</h1>

        <p>Project acts as a folder that contains all of your records. Give it a name that correspond to your purpose.</p>
        <a href="{{ url_for('base.create_project') }}">Create project</a>

        <div class="home-page__projects">
          {% for project in projects %}
            <ProjectCard
              title="{{ project.name }}"
              viewLink="{{ url_for('base.view_project', project_id=project.id) }}"
              deleteLink="{{ url_for('base.delete_project', project_id=project.id) }}"
            ></ProjectCard>
          {% endfor %}
        </div>

        <table>
          <thead>
            <th>Name</th>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td>{{ project.name }}</td>
                <td><a href="{{ url_for('base.view_project', project_id=project.id) }}">View</a></td>
                <td><a href="{{ url_for('base.update_project', project_id=project.id) }}">Edit</a></td>
                <td><a href="{{ url_for('base.delete_project', project_id=project.id) }}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <a href="{{ url_for('auth.logout') }}">Logout</a>
      </div>

    </div>
  `

  App.template = template

  let app = createApp(App)
  app.mount("#app")
</script>
{% endblock script %}