{% extends "base.html" %}

{% block script %}
<script type="module">
  import SideBar from "{{ url_for('static', filename='components/navbar/SideBar.js') }}"
  import ProjectCard from "{{ url_for('static', filename='components/cards/ProjectCard.js') }}"
  import CreateButton from "{{ url_for('static', filename='components/buttons/CreateButton.js') }}"
  const { createApp, ref } = Vue

  const App = {
      setup() {
          let message = ref("hello vue")
          return {message}
      },

      components: {
        "SideBar": SideBar,
        "ProjectCard": ProjectCard,
        "CreateButton": CreateButton,
      },

      delimiters: ["[[", "]]"],
  }

  let template = /*html*/`
    <div class="home-page">

      <SideBar></SideBar>

      <div class="home-page__content">

        <div class="home-page__content-header">
          <h2 class="home-page__content-title">Projects</h2>
          <p class="home-page__content-desc">Project acts as a folder that contains all of your records. Give it a name that correspond to your purpose.</p>
        </div>

        <CreateButton
          value="Create project"
          createEndpoint="{{ url_for('base.create_project') }}"
        >
        </CreateButton>

        <div class="home-page__projects">
          {% for project in projects %}
            <ProjectCard
              title="{{ project.name }}"
              viewLink="{{ url_for('base.view_project', project_id=project.id) }}"
              editLink="{{ url_for('base.update_project', project_id=project.id) }}"
              deleteLink="{{ url_for('base.delete_project', project_id=project.id) }}"
            ></ProjectCard>
          {% endfor %}
        </div>
      </div>
    </div>
  `

  App.template = template

  let app = createApp(App)
  app.mount("#app")
</script>
{% endblock script %}