{% extends "base.html" %}

{% block script %}
<script type="module">
  import HorizontalBox from "{{ url_for('static', filename='components/boxes/horizontal_box.js') }}"
  import VerticalBox from "{{ url_for('static', filename='components/boxes/vertical_box.js') }}"
  import Button from "{{ url_for('static', filename='components/buttons/submit_button.js') }}"
  import Field from "{{ url_for('static', filename='components/fields/levitate_field.js') }}"
  const { createApp, ref } = Vue

  const App = {
      setup() {
          let message = ref("hello vue")
          return {message}
      },

      components: {
        "HorizontalBox": HorizontalBox,
        "VerticalBox": VerticalBox,
        "Button": Button,
        "Field": Field,
      },

      delimiters: ["[[", "]]"],
  }

  let template = /*html*/`
    <div class="page">
      <HorizontalBox>

        <VerticalBox class="bg-main" width="20">
        </VerticalBox>

        <VerticalBox height="30" width="20">
          <form class="form glass-form" action="{{ url_for('auth.login') }}" method="post">
            <h2 class="form__header-text">Sign In</h2>

            <div class="form__field-wrapper">
              <Field type="text" name="email" label="Email">
                <template v-slot:icon>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="field__icon icon-email"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                </template>
              </Field>

              <Field type="password" name="password" label="Password">
                <template v-slot:icon>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="field__icon icon-password"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg>
                </template>
              </Field>
            </div>

            <Button value="Login"></Button>
            <p class="form__register-text">
              Don't have an account yet?
              <a class="form__register-text-link" href="{{ url_for('auth.register') }}">
                <strong>Sign Up</strong>
              </a>
            </p>
          </form>
        </VerticalBox>

      </HorizontalBox>

    </div>
  `

  App.template = template

  let app = createApp(App)
  app.mount("#app")
</script>
{% endblock script %}
