{% extends "base.html" %}

{% block script %}
<script type="module">
  import LoginForm from "{{ url_for('static', filename='components/forms/LoginForm.js') }}"
  const { createApp, ref } = Vue

  const App = {
      setup() {
          let message = ref("hello vue")
          return {message}
      },

      components: {
        "LoginForm": LoginForm
      },

      delimiters: ["[[", "]]"],
  }

  let template = /*html*/`
    <div class="login-page">
      <div class="login-page__login-box">

        <div class="vertical-box bg-main">
        </div>

        <div class="vertical-box">
          <LoginForm
            loginEndpoint="{{ url_for('auth.login') }}"
            registerEndpoint="{{ url_for('auth.register') }}"
          >
          </LoginForm>
        </div>

      </div>

    </div>
  `

  App.template = template

  let app = createApp(App)
  app.mount("#app")
</script>
{% endblock script %}
