{% extends "base.html" %}

{% block content %}
<h1>Parameter Recorder</h1>

<p>Project: {{ context['name'] }}</p>
<a href="{{ url_for('base.create_record', project_id=context['id']) }}">Add record</a>

<table>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {% for record in context['records'] %}
      <tr>
        <td>{{ record.name }}</td>
        <td><a href="{{ url_for('base.view_record', project_id=context['id'], record_id=record.id) }}">View</a></td>
        <td><a href="{{ url_for('base.update_record', record_id=record.id) }}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}