{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('base.create_record', project_id=context['id']) }}" method="post">
  <label>Record Name:</label>
  <input type="text" name="name">

  <p>Parameter</p>
  <table>
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="parameter_key"></td>
        <td><input type="text" name="parameter_value"></td>
        <td><button onclick="removeInput(event)">x</button></td>
      </tr>
      <tr>
        <td>Add parameter <button onclick="addParameterForm(event)">+</button></td>
      </tr>
    </tbody>
  </table>

  <p>Result</p>
  <table>
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="result_key"></td>
        <td><input type="text" name="result_value"></td>
        <td><button onclick="removeInput(event)">x</button></td>
      </tr>
      <tr>
        <td>Add result <button onclick="addResultForm(event)">+</button></td>
      </tr>
    </tbody>
  </table>

  <input type="submit" value="Create">
</form>
{% endblock content %}