{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('base.create_record') }}" method="post">
  <label>Record Name:</label>
  <input type="text" name="name">

  <p>Parameter</p>
  <table>
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="parameter_key_1"></td>
        <td><input type="text" name="parameter_value_1"></td>
        <td><input type="checkbox" name="parameter_delete_1"></td>
      </tr>
      <tr>
        <input type="hidden" name="total_parameter" value="1">
        <td>Add parameter <button onclick="addForm(event)">+</button></td>
      </tr>
    </tbody>
  </table>

  <p>Result</p>
  <table>
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="result_key_1"></td>
        <td><input type="text" name="result_value_1"></td>
        <td><input type="checkbox" name="result_delete_1"></td>
      </tr>
      <tr>
        <input type="hidden" name="total_result" value="1">
        <td>Add result <button onclick="addForm(event)">+</button></td>
      </tr>
    </tbody>
  </table>

  <input type="submit" value="Create">
</form>
{% endblock content %}