{% extends "base.html" %}

{% block script %}
<script type="module">
  import RegistrationForm from "{{ url_for('static', filename='components/forms/RegistrationForm.js') }}"
  const { createApp, ref } = Vue

  const App = {
      setup() {
          let message = ref("hello vue")
          return {message}
      },

      components: {
        "RegistrationForm": RegistrationForm
      },

      delimiters: ["[[", "]]"],
  }

  let template = /*html*/`
    <div class="registration-page">
      <div class="registration-page__registration-box">

        <div class="registration-page__registration-left-box bg-main">
        </div>

        <div class="registration-page__registration-right-box">
          <RegistrationForm
            loginEndpoint="{{ url_for('auth.login') }}"
            registrationEndpoint="{{ url_for('auth.register') }}"
          >
          </RegistrationForm>
        </div>

      </div>

    </div>
  `

  App.template = template

  let app = createApp(App)
  app.mount("#app")
</script>
{% endblock script %}
